//
//  Arduino Mini with ATmega328-3.3V.xcconfig
//  Board configuration file
//  ----------------------------------
//  Developed with embedXcode
//
//  Part of embedXcode
//  Embedded Computing on Xcode
//
//  Created by  Rei VILO on Mar 05, 2014
//  Copyright 	(c) 2014 http://embeddedcomputing.weebly.com
//  License     All rigths reserved
//
// Last update: Mar 06, 2014 release 138

// Board identifier
// See Boards.txt for <tag>.name=Arduino Uno (16 MHz)
//
BOARD_TAG  = pro328

// For Arduino 1.5.x, if different from Arduino 1.0.x
//
BOARD_TAG1 = pro
BOARD_TAG2 = pro.menu.cpu.8MHzatmega328

// Port (optionnal)
// most common are /dev/tty.usbserial*, /dev/tty.usbmodem* or /dev/tty.uart*
//
BOARD_PORT = /dev/tty.usbmodem*

// References for Xcode code-sense
// See Boards.txt for <tag>.build.mcu=<GCC_PREPROCESSOR_DEFINITIONS>
//
GCC_PREPROCESSOR_DEFINITIONS = __AVR_ATmega328P__ ARDUINO

// Specify the full path and name of the application
// with /Contents/Resources/Java/** after
//
HEADER_SEARCH_PATHS = /Applications/Arduino.app/Contents/Resources/Java/**

// Maximum RAM size in bytes
// given by <tag>.upload.maximum_ram_size in boards.txt for Maple and Teensy
// given by <tag>.upload.maximum_data_size in boards.txt for Arduino 1.5.x
//
MAX_RAM_SIZE = 2048
