//
//  LaunchPad Tiva C with TM4C123.xcconfig
//  Board configuration file
//  ----------------------------------
//  Developed with embedXcode
//
//  Part of embedXcode
//  Embedded Computing on Xcode
//
//  Created by  Rei VILO on 24/10/12
//  Copyright   (c) 2012-2014 http://embedxcode.weebly.com
//  License     All rigths reserved
//
// Last update: Feb 06, 2014 release 131

// Board identifier
// See Boards.txt for <tag>.name=Arduino Uno (16 MHz)
//
BOARD_TAG  = lptm4c1230c3pm

// TM4C123GH6PM as http://www.ti.com/ww/en/launchpad/launchpads-tivac.html#tabs
// lptm4c1233h6pm
// lptm4c1230c3pm as boards.txt

// Port (optionnal)
// most common are /dev/tty.usbserial*, /dev/tty.usbmodem* or /dev/tty.uart*
//
BOARD_PORT = /dev/tty.usbmodem0E*

// References for Xcode code-sense
// See Boards.txt for <tag>.build.mcu=<GCC_PREPROCESSOR_DEFINITIONS>
//
GCC_PREPROCESSOR_DEFINITIONS = __TM4C123GH6PM__ ENERGIA

// Specify the full path and name of the application
// with /Contents/Resources/Java/** after
//
HEADER_SEARCH_PATHS = /Applications/Energia.app/Contents/Resources/Java/hardware/lm4f/**

// Maximum RAM size in bytes
// given by <tag>.upload.maximum_ram_size in boards.txt for Maple and Teensy
//
//MAX_RAM_SIZE = 32768

