name: esp32h2

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  build:
    uses: ./.github/workflows/build_template_custom_board.yml
    with:
      args: --boards esp32-h2-devkitm-1



