name: wasm compilers

on:
    push:
      branches:
        - master
  

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4


    - name: Install UV
      run: pip install uv

    - name: Build Image
      run: uv run ci/wasm_compile.py -b --no-open examples/wasm

    - name: Build WASM Compiler
      run: ./wasm --build_wasm_compiler
      shell: bash

    - name: Generate timestamp and random hex
      id: generate_id
      run: |
        echo "timestamp=$(date +'%Y%m%d_%H%M%S')" >> $GITHUB_OUTPUT
        echo "random_hex=$(openssl rand -hex 3)" >> $GITHUB_OUTPUT

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: wasm-artifacts-${{ steps.generate_id.outputs.timestamp }}-${{ github.sha }}-${{ steps.generate_id.outputs.random_hex }}
        path: dist/*
