name: build

on:
  push:
    branches:
      - master
    paths:
      - 'src/**'
      - 'examples/**'
      - 'ci/**'
      - '.github/workflows/build.yml'
      - '.github/workflows/build_template.yml'
      - 'CMakeLists.txt'
      - 'platformio.ini'
      - 'library.json'
      - 'library.properties'

jobs:
  build_uno:
    uses: ./.github/workflows/build_template.yml
    with:
      args: "uno"

  build_esp32dev:
    uses: ./.github/workflows/build_template.yml
    with:
      args: "esp32dev"

  build_esp8266:
    uses: ./.github/workflows/build_template.yml
    with:
      args: "esp8266"

  build_esp32_c3_devkitm_1:
    uses: ./.github/workflows/build_template.yml
    with:
      args: "esp32c3"

  build_esp32_s3_devkitc_1:
    uses: ./.github/workflows/build_template.yml
    with:
      args: "esp32s3"

  build_yun:
    uses: ./.github/workflows/build_template.yml
    with:
      args: "leonardo"

  build_digix:
    uses: ./.github/workflows/build_template.yml
    with:
      args: "sam3x8e_due"

  build_teensy30:
    uses: ./.github/workflows/build_template.yml
    with:
      args: "teensy30"

  build_teensy41:
    uses: ./.github/workflows/build_template.yml
    with:
      args: "teensy41"

  build_adafruit_feather_nrf52840_sense:
    uses: ./.github/workflows/build_template.yml
    with:
      args: "adafruit_feather_nrf52840_sense"

  build_xiaoblesense_adafruit:
    uses: ./.github/workflows/build_template.yml
    with:
      args: "xiaoblesense_adafruit"

  build_rpipico:
    uses: ./.github/workflows/build_template.yml
    with:
      args: "rp2040"

  build_rpipico2:
    uses: ./.github/workflows/build_template.yml
    with:
      args: "rp2350"

  build_uno_r4_wifi:
    uses: ./.github/workflows/build_template.yml
    with:
      args: "uno_r4_wifi"

  build_esp32dev_i2s:
    uses: ./.github/workflows/build_template.yml
    with:
      args: "esp32dev_i2s --examples SpecialDrivers/ESP/I2S/EspI2SDemo"

  build_esp32dev_idf44:
    uses: ./.github/workflows/build_template.yml
    with:
      args: "esp32dev_idf44"

  build_esp32dev_idf33:
    uses: ./.github/workflows/build_template.yml
    with:
      args: "esp32dev_idf33"
