name: wasm

on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: Setup Emscripten
        uses: mymindstorm/setup-emsdk@v14
        with:
          version: 'latest'
          actions-cache-folder: 'emsdk-cache'

      - name: Verify Emscripten
        run: emcc -v

      - name: Install PlatformIO
        run: pip install platformio

      - name: Build with Emscripten
        run: |
          cd examples/wasm && pio run

      - name: Scan for wasm/js/html artifacts
        run: |
          cd examples && find . -name "*.wasm" -o -name "*.js" -o -name "*.html"

      - name: Copy wasm/index.html to wasm/.pio/build/wasm/ to prepare for artifact upload
        run: |
          cp examples/wasm/index.html examples/wasm/.pio/build/wasm/index.html

      - name: Scan for wasm/js/html artifacts
        run: |
          cd ci && find . -name "*.wasm" -o -name "*.js" -o -name "*.html"

      - name: Generate timestamp and random hex
        id: generate_id
        run: |
          echo "timestamp=$(date +'%Y%m%d_%H%M%S')" >> $GITHUB_OUTPUT
          echo "random_hex=$(openssl rand -hex 3)" >> $GITHUB_OUTPUT

      - name: Upload wasm artifacts
        uses: actions/upload-artifact@v4
        with:
          name: wasm-artifacts-${{ steps.generate_id.outputs.timestamp }}-${{ github.sha }}-${{ steps.generate_id.outputs.random_hex }}
          path: examples/wasm/.pio/build/wasm/*.*
          if-no-files-found: error
