name: teensy41_binary_size

on:
  push:
    branches:
      - master
  pull_request_target:
    branches:
      - master

jobs:
  build:
    uses: ./.github/workflows/build_template_binary_size.yml
    with:
      board: teensy41
      max_size: 107000
      max_size_apa102: 88000

